<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#" >Employee </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="d-flex">
          <button class="btn btn-danger" type="submit"  data-bs-toggle="modal" data-bs-target="#exampleModal">Add Person</button>
        </div>
      </div>
  </nav>



<div class="container mt-5">
  <div class="row">

    <div class="col-md-12">
      <h2 class="text-center mb-2 table-heading">Employee Details </h2>

      <div class="form-outline mt-3">
        <input type="search"  [(ngModel)]="searchtext" id="form1" class="form-control " placeholder="Search Employee" aria-label="search">
      </div>

      <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Avatar</th>
                <th>Email Id</th>
                <th>Age</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of allstudent |filter:searchtext">
                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.Avatar}}</td>
                <td>{{student.email}}</td>
                <td> {{student.dob |age}}</td>
                <!-- <td>{{student.dob |date}} {{student.dob |age}}</td> -->
                <td>

                    <button class="btn  btn-success mx-3" (click)="EditStudent(student)" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-pen"></i></button>

                    <button class="btn  btn-danger" (click)="DeleteStudent(student)"><i class="bi bi-trash"></i></button>

                    <!-- <input type="button" value="Edit" (click)="EditStudent(student)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success me-2 "/>
                    <input type="button" value="Delete" (click)="DeleteStudent(student)" class="btn btn-danger"/> -->
                </td>
            </tr>
        </tbody>
        </table>
    </div>
  </div>
</div>





<!-- Button trigger modal -->


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Person Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="row g-3" [formGroup]="formValue">
                <div class="col-md-6">
                    <label for="inputName" class="form-label">Person Name</label>
                    <input type="text" formControlName="name" class="form-control" id="inputName">
                  </div>
                  <div class="col-md-6">
                    <label for="inputClass" class="form-label">Avatar</label>
                    <input type="text" formControlName="Avatar" class="form-control" id="inputClass">
                  </div>
                <div class="col-md-6">
                  <label for="inputEmail4" class="form-label">Email</label>
                  <input type="email" formControlName="email" class="form-control" id="inputEmail4">
                </div>

                <!-- convert date to age  -->
                <div class="col-md-6">
                  <label for="inputPassword4" class="form-label">age</label>
                  <input type="date" formControlName="dob" class="form-control" id="inputPassword4">
                </div>

              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning"  data-bs-dismiss="modal">Close</button>
          <button *ngIf="btnSaveShow" type="button" class="btn btn-primary" (click)="AddStudent()" >Register</button>
          <button *ngIf="btnUpdateShow" type="button" class="btn btn-primary" (click)="UpdateStudent()" >Update</button>
        </div>
      </div>
    </div>
  </div>





